<nav class="navigation">
    <a class="site-logo" href="/" {% if page.url === '/' %}aria-current="page"{% endif %} aria-label="{{ 'header.home' | translate }}">
        {#{% svgIcon 'd-profile.svg' %}#}
    </a>
    <ul class="navigation-menu">
        {% for item in navigation[page.lang] %}
        {%- set url = item.url | locale_url %}
        <li>
            <a 
                href="{{ url }}"
                {% if page.url === url %}aria-current="page"{% endif %}
            >
                {{ item.text }}
            </a>
        </li>
        {%- endfor %}
    </ul>

    {#{% include "switch-il8n.njk" %}#}
</nav>