<div class="switch-language">
	{% for lang, properties in locales %}
		{% if page.lang === lang %}
			<a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}"  aria-label="{{ properties.shorthand }}: {{ properties.label }}" aria-current="page" class="current">
				{{ properties.shorthand }}
			</a>
		{% else %}
			{% set found = false %}
			{% for link in page.url | locale_links %}
				{% if lang === link.lang %}{% set found = link %}{% endif %}
			{% endfor %}
			{% if found  %}
				<a href="{{ found.url }}" lang="{{ found.lang }}" hreflang="{{ found.lang }}"  aria-label="{{ properties.shorthand }}: {{ properties.label }}">
					{{ properties.shorthand }}
				</a>
			{% else %}
				<span aria-label="{{ properties.shorthand }}: {{ properties.label }}" class="disabled">
					{{ properties.shorthand }}
				</span>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>