---
permalink: /humans.txt
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
/* TEAM */
Designer / Developer: {{ settings.author.name }}
Contact: {{ settings.author.email }}
Site: {{ settings.author.url }}
From: {{ settings.author.location }}
{% if settings.author.fediverseProfile %}Fediverse: {{ settings.author.fediverseProfile }}{% endif %}

/* SITE */
Last update: {% build %}
Standards: HTML5, CSS3
Components: elva, Alpine.js
Software: 11ty
