{% include './reset.css' %}
{% include './variables.css' %}
{% include './styles.css' %}

.rss-xslt h1 {
    margin-top: var(--space-s-l);
}

.rss-xslt .posts {
    list-style: none;
    margin: var(--space-s-l) 0 0 0;
    padding: 0;
}

.rss-xslt .posts li {
    margin-bottom: var(--space-s-m);

    &:last-child {
        margin-bottom: 0;
    }
}

.rss-xslt .posts span {
    color: var(--foreground-soft);
    font-size: var(--step--1);
    display: block;
}