---
permalink: /assets/css/bundle.css
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{% include "./reset.css" %}
{% include "./variables.css" %}
{% include "./styles.css" %}
{% include "./components/syntax.css" %}
{% include "./components/switch-il8n.css" %}
{% include "./components/switch-darkmode.css" %}