---
permalink: /{{ lang }}/feed/blogroll.xml
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
    <head>
        <title>{{ 'meta.blogrollTitle' | translate }} {{ settings.meta.separator }} {{ 'meta.title' | translate }}</title>
        <ownerName>{{ settings.author.name }}</ownerName>
        <ownerEmail>{{ settings.author.email }}</ownerEmail>
        <ownerId>{{ settings.url }}</ownerId>
        <dateCreated>{{ page.date | dateToRfc822 }}</dateCreated>
    </head>
    <body>
        {% for site in blogroll -%}
        <outline text="{{ site.name }}" title="{{ site.name }}" type="rss" xmlUrl="{{ site.feed }}" htmlUrl="{{ site.url }}"/>
        {% endfor -%}
    </body>
</opml>