---
permalink: opengraph-preview.html
eleventyExcludeFromCollections: true
title: Example title for my content
---
<!-- add additional example frontmatter above that you would like to render in the opengraph template -->
{% include "../.frontmatter/scripts/opengraph-template.html" %}