---
permalink: /robots.txt
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{%- if settings.isProduction -%}
{%- if locales | length == 1 -%}
Sitemap: {{ "/sitemap.xml" | htmlBaseUrl(settings.url) }}
{%- else -%}
Sitemap: {{ "/sitemap-index.xml" | htmlBaseUrl(settings.url) }}
{%- endif %}

{{ badbots }}
User-agent: *
Disallow:
Disallow: /404.html
{%- else -%}
User-agent: *
Disallow: /
{%- endif -%}