---
eleventyComputed:
  permalink: "{{ ('/' + lang + '/api/search.json') | default_locale_url }}"
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{
    "api_url": "{{ permalink | htmlBaseUrl(settings.url) }}",
    "language": "{{ page.lang }}",
    "home_page_url": "{{ "/" | htmlBaseUrl(settings.url) }}",
    "icon": "{{ "/assets/img/icon-512.png" | htmlBaseUrl(settings.url) | cdnify }}",
    "data": [
        {% set counter = loop %}
        {%- for post in collections[collection] | languageFilter(page.lang)| reverse %}
        {%- set absolutePostUrl = post.url | htmlBaseUrl(settings.url) %}
        {
            "id": {{ loop.index }},
            "url": "{{ absolutePostUrl }}",
            "title": "{{ post.data.card or post.data.title }}",
            "thumbnail": "{{ (thumbnail or settings.meta.opengraphDefaultImage) | htmlBaseUrl(settings.url) }}",
            "language": "{{ post.page.lang }}",
            "date_updated": "{{ post.date | dateToRfc3339 }}",
            "excerpt": "{{ post.data.seo.description | striptags | truncate(150, false, '…') | safe }}",
            "keywords": "{{ post.content | index }}",
            "tags": [{% set comma = joiner(",") %}{% for tag in post.data.tags %}{{ comma() }}"{{ tag }}"{% endfor %}]
        }
        {%- if not loop.last %},{% endif %}
        {%- endfor %}
    ]
}