---
permalink: /assets/css/bundle.css
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{% include "../theme/css/reset.css" %}
{% include "../theme/css/variables.css" %}
{% include "../theme/css/styles.css" %}
{% include "../theme/css/components/syntax.css" %}
{% include "../theme/css/components/switch-il8n.css" %}
{% include "../theme/css/components/switch-darkmode.css" %}