---
permalink: /assets/js/bundle.js
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{% include "../../../node_modules/alpinejs/dist/cdn.js" %}
{% include "../../../node_modules/@alpinejs/intersect/dist/cdn.js" %}
{% include "./scripts.js" %}