<!DOCTYPE html>
<html lang="{{ locales[page.lang].locale or page.lang }}" dir="{{ locales[page.lang].dir or 'ltr' }}" x-data :data-theme="$store.elva.theme">
    <head>
        {%- set t = ((seo.title or title) + ' ' + settings.meta.separator + ' ' + ('meta.title' | translate) if (seo.title or title) else ('meta.title' | translate)) %}
        {%- set d = (seo.description | striptags | truncate(140, false, '…')) or ('meta.description' | translate) %}
        {%- set u = page.url | htmlBaseUrl(settings.url) %}
        {%- set i = (thumbnail or settings.meta.opengraphDefaultImage) | htmlBaseUrl(settings.url) %}
        {%- set ia = thumbnailDescription or ('meta.opengraphDefaultAlt' | translate) %}
        {%- set ta = tags or [] %}

        <!-- charset / viewport -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- title / description -->
        <title>{{ t }}</title>
		<meta name="description" content="{{ d }}">

        <!-- canonical / alternates -->
        <link rel="canonical" href="{{ u }}">
        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ u }}">
        {% for link in page.url | locale_links | fix_locale_links %}<link rel="alternate" hreflang="{{ link.lang }}" href="{{ settings.url }}{{ link.url }}">{% endfor %}

        <!-- open graph -->
        <meta property="og:site_name" content="{{ 'meta.title' | translate }}">
        <meta property="og:title" content="{{ t }}">
        <meta property="og:description" content="{{ d }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ u }}">
        <meta property="og:logo" content="{{ "/assets/img/icon-192.png" | htmlBaseUrl(settings.url) | cdnify }}">
        <meta property="og:image" content="{{ i | cdnify }}">
        <meta property="og:image:alt" content="{{ ia }}">
        <meta property="og:locale" content="{{ locales[page.lang].locale or page.lang }}">

        <!-- icons -->
        <link rel="icon" href="{{ "/favicon.ico" | htmlBaseUrl(settings.url) }}" sizes="any">
        <link rel="icon" href="{{ "/assets/img/icon.svg" | htmlBaseUrl(settings.url) }}" type="image/svg+xml">
        <link rel="apple-touch-icon" href="{{ "/assets/img/icon-180.png" | htmlBaseUrl(settings.url) | cdnify }}">

        <!-- styles -->
        {% css %}{% include '../css/reset.css' %}{% endcss -%}
        {% css %}{% include '../css/variables.css' %}{% endcss -%}
        {% css %}{% include '../css/styles.css' %}{% endcss -%}
        {% css 'defer' %}{% include '../css/defer.css' %}{% endcss -%}
        {% css 'defer' %}{% include '../css/components/syntax.css' %}{% endcss -%}
	    <style>{% getBundle 'css' %}</style>
	    <link rel="stylesheet" href="{% getBundleFileUrl 'css', 'defer' %}?v={% version %}" fetchpriority="low">

        <!-- feeds -->
        <link rel="alternate" href="{{ "/feed/feed.xml" | locale_url | htmlBaseUrl(settings.url) }}" type="application/atom+xml" title="{{ 'meta.rssTitle' | translate }} {{ settings.meta.separator }} {{ 'meta.title' | translate }}">
		<link rel="alternate" href="{{ "/feed/feed.json" | locale_url | htmlBaseUrl(settings.url) }}" type="application/json" title="{{ 'meta.jsonTitle' | translate }} {{ settings.meta.separator }} {{ 'meta.title' | translate }}">
        {% if blogroll | length %}<link rel="blogroll"  href="{{ "/feed/blogroll.xml" | locale_url | htmlBaseUrl(settings.url) }}" type="text/xml" title="{{ 'meta.blogrollTitle' | translate }} {{ settings.meta.separator }} {{ 'meta.title' | translate }}">{% endif %}

        <!-- preload / prefetch -->
        {% if (settings.isProduction or settings.isStaging) and settings.cdn %}<link rel="dns-prefetch" href="https://i0.wp.com/">{% endif %}

        <!-- everything else -->
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="manifest" href="{{ "/site.webmanifest" | locale_url | htmlBaseUrl(settings.url) }}">
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ settings.themeColorLight }}">
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ settings.themeColorDark }}">
        {% if settings.isStaging or seo.noIndex %}<meta name="robots" content="noindex, nofollow">{% endif %}
        {% if settings.author.githubProfile %}<link rel="me" href="{{ settings.author.githubProfile }}">{% endif %}
        {% if settings.author.fediverseProfile %}<link rel="me" href="{{ settings.author.fediverseProfile }}">{% endif %}
        {% if settings.author.fediverseUsername %}<meta name="fediverse:creator" content="{{ settings.author.fediverseUsername }}">{% endif %}

        <!-- set theme before page renders to stop fouc -->
        {% js %}document.documentElement.dataset.theme = localStorage.getItem('theme') === null ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : localStorage.getItem('theme'){% endjs %}
        
        <!-- inline scripts -->
        <script>{% getBundle 'js' %}</script>
    </head>

    <body class="{% set space = joiner(" ") -%}{% for tag in ta -%}{{ space() }}{{ tag | slugify }}{% endfor -%}">
        <!-- header -->
        {% include "header.njk" %}

        <!-- content -->
        <main id="content">{{ content | safe }}</main>

        <!-- footer -->
        {% include "footer.njk" %}

        <!-- scripts -->
        {% js 'defer' %}{% include '../../../node_modules/alpinejs/dist/cdn.js' %}{% endjs -%}
        {% js 'defer' %}{% include '../../../node_modules/@alpinejs/intersect/dist/cdn.js' %}{% endjs -%}
        {% js 'defer' %}{% include '../js/scripts.js' %}{% endjs -%}
        <script src="{% getBundleFileUrl 'js', 'defer' %}?v={% version %}" defer></script>
    </body>
</html>