---
permalink: /assets/css/opengraph.css
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
{% include "../themes/" + theme + "/css/reset.css" %}
{% include "../themes/" + theme + "/css/variables.css" %}
{% include "../themes/" + theme + "/css/styles.css" %}