---
layout: base
---

<div class="site-intro">

    {% svg "logo.svg", { class: "logo", title: 'meta.title' | translate, ariaLabel: 'meta.title' | translate, width: 541, height: 242 } %}

    {{ content | safe }}

</div>

