---
layout: base
---
<h1>{{ 'tagged' | translate }} “{{ tag }}”</h1>

{{ content | safe }}

<div class="posts-list">
    {% set postslist = collections[ tag ] | languageFilter | reverse %}
    {% include "posts.njk" %}
</div>