---
layout: base
tags: home
seo:
  title: Welcome to 2023
  description: dropcase.com is a site by Dave Lawson, started in 2003
---

<div class="site-intro">
    <p>To start is easy. It's keeping on for the long haul that's hard.</p>
</div>